{% extends 'base.html' %}
{% block title %}Sistema Control 2026{% endblock %}
{% block content %}

<h1> Bienvenidos a sistemas de control uwu</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit quasi accusamus inventore iure beatae aliquam, a esse excepturi sit libero fugit quam non assumenda hic, est possimus, molestias dolorem?
    Fuga eaque officia aut harum nisi non molestias consectetur quis temporibus vero similique reprehenderit, voluptatum, dolore dolor? Quia ea adipisci nisi, quidem dicta perferendis nesciunt unde, vel numquam recusandae eligendi?
    Nemo in et ratione, explicabo quas non ab eaque velit quisquam cum dolor debitis tempore iste veniam corporis blanditiis nobis aliquid ipsam at labore. Repellendus delectus ipsa aliquam mollitia animi.
    A alias facilis soluta fugit sunt non saepe temporibus ipsam dolorem dolorum commodi deserunt pariatur maiores autem excepturi cum vero asperiores quod perspiciatis blanditiis quaerat, quas nesciunt consequatur. Delectus, similique.
    Repellendus exercitationem quaerat modi unde, ex fugiat odit adipisci odio molestias fugit voluptates quis incidunt aut pariatur aperiam. Qui dolores modi blanditiis sunt suscipit expedita hic ab doloribus. Dolores, aut?
</p>
{% endblock %}